SECRET_KEY=
DEBUG=True
ENVIRONMENT=development
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=
DIRECT_URL=
TIME_ZONE=America/Lima
BUK_EXPORT_DEFAULT_FORMAT=xlsx
BUK_DEFAULT_SHEET_NAME=Reporte carga BUK
