SECRET_KEY=
DEBUG=
ENVIRONMENT=development
ALLOWED_HOSTS=
DATABASE_URL=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
TIME_ZONE=America/Lima
DEFAULT_FROM_EMAIL=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
REDIS_URL=
BUK_EXPORT_DEFAULT_FORMAT=xlsx
BUK_DEFAULT_SHEET_NAME=Reporte carga BUK
MEDIA_ROOT=
STATIC_ROOT=
